#file-upload {
    display: none;
}

#upload-tab {
    text-align: center;
    cursor: pointer;
}

html, body, #filemanager-app, .drop-zone {
    height: 100%;
    width: 100%;
}

.file-name {
    margin: 0 10px;
}

.file-delete {
    cursor: pointer;
}

.file-delete:hover {
    color: #ff3333;
}
